*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.template{
  display: none;
}

body{
  font-family: 'Rambla', sans-serif;
  font-size: 20px;
}
.row{
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.row::after{
  content: '';
  display: table;
  clear: both;
}
.insert-yourcolor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: lightgrey;
  margin: 0 0 60px 0;
  padding: 20px;
}
.insert-yourcolor input{
  height: 30px;
  padding: 5px;
  margin: 10px 10px 0;
  line-height: 30px;
  font-size: 20px;
}
.insert-yourcolor button{
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0;
}

.results{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.first-color{
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.scheme{
  margin: 10px 0;
}
.scheme__title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 140%;
  margin-left: 10px;
}
.scheme__color{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
}
