*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  position: relative;
  width: 100%;
}
.row::after{
  content: '';
  display: table;
  clear: both;
}
.insert-yourcolor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: lightgrey;
  margin: 0 0 60px 0;
  padding: 20px;
}
.insert-yourcolor input{
  height: 30px;
  padding: 5px;
  margin: 10px 10px 0;
  line-height: 30px;
  font-size: 20px;
}
.insert-yourcolor button{
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0;
}

.results{
  width: 80%;
  padding:0 10%;
}
.first-color{
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.color{
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
}
